<div class="about">
 <main id="appbody" class="main-content">
    <h2>About</h2>
    <div class="about-body">
        <p>
            Hi, I'm Tarun Sharma.
        </p>


        <p>
            I'm J2EE Enterprise application developer, working on Enterprise and open source Technologies
            <a href="">J2EE web frameworks, Spring, Spring MVC, Struts, Hibernate, Web service Jax-WS, Jax-RS </a>and having experience of working Enterprise SOA architecture and different tools from IBM and Oracle. Currently working with JavaScript framework Angular Node js and exploring development of enterprise apps in Android. I am passionate MEAN- Full Stack Javascript developer using <a href="">MongoDB, ExpressJS, NodeJS, AngularJS <a/>and also doing mobile application development.
        </a>
    </p>

    <p>
        I have taken our knowledge of web technologies to YouTube to provide free training to developers looking to learn something new. I've also created premium tutorial packages for <a target="_blank" href="">Packt Publishing On Angular 2 with Bootstrap</a> Currently exploring Node js with ORM tools and Angular 2.0 with different build toools and Module loaders like Webpack Bable and task runners
   
    </p>
    
<p>I am passionate MEAN- Full Stack Javascript developer using MongoDB,ExpressJS,NodeJS,AngularJS and also doing  mobile application development .<p>

Specialities:
<ul>
<li>✔ Web App Development (MEAN Stack Expert ) </li>
<li>✔ Restful API Development </li>
<li>✔ Strong Javascript & ES5/6 knowledge (Babel , Webpack , Browserify, System JS)</li>
<li>✔ Angular.js,Angular.js 2.0, React.js ( Flux, Redux )</li>
<li>✔ Node.js,Sails.js, Mean.io, Hapi.js</li>
<li>✔ MongoDb , Redis , MySql</li>
<li>✔ Web Api Development (IOS + Android)</li>
<li>✔ IOS and Android Hybrid Mobile App Development (Ionic Framework, React native)</li>
<li>✔ Karma, Mocha, Jasmine (TDD)</li>
<li>✔ Grunt, Gulp (Task Manager)</li>
<li>✔ Github , Bitbucket , SVN</li>
<li>✔ Linux Server Administration & Shell scripting ( AWS or Docker)</li>
<li>✔ Agile Process</li>
<li>✔ Scrum</li>
<li>✔ Rapid Prototyping</li>

</ul>
       <p> <a href="">Early Life</a></p>
                            <p>Born on August July 1990 and living with my family in Jaipur Rajasthan India </p>
                            <p><a href="">School Days</a></p>
                            <p>Attended preparatory, elementary, and high-school in a competitive school (MHS jaipur) then went to college at 
                                the University SKIT Jaipur and graduated with Bachelor's Degree in Computer Science Engineering.</p>
                               
                                       <p> <a href="" class="list-group-item-heading">programming</a></p>
                                        <p class="list-group-item-text">This passion actually drives me in many different directions. When i work for any development 
                                            task it feels like i am going to build something smart and something different which is something new for this world , I am 
                                            developer and passionate about learning latest technologies and also provide learning to others on different technologies</p>

                                        <p href="#" class="list-group-item">
                                            <p><a href="" class="list-group-item-heading">music</a>
                                            <p class="list-group-item-text">It gives me fluid when i'm dehydrated by constant work, stress, and noisy environment. it also 
                                                gives me way to express my self in a different way and in a different tone. i play guitar.</p>
                                            </p>
                                                              
                     
                            
                                <p>
                                    Please <a href="/#contact">contact me</a> if you would like to work on a project together, or just want to chat.
                                </p>
                            </div>

                            <div class="resume">
                                <span class="fakebuttons"></span>

                                <div class="resume-inside">


                                    <h3>/* --Resume-- */</h3>

                                    <h4>/* SUMMARY OF QUALIFICATIONS */</h4>
                                    <ul>
                                        <li>Received a Bachelors degree in the computer science at the Technical University Rajasthan .</li>
                                        <li>Excellent organization, self-motivation, and problem-solving skills.</li>
                                        <li>Created and runs a popular Youtube coding education channel with over 700 videos, 8.5million views &amp; 85k subscribers.</li>
                                        <li>Creative, strong communication skills and consistently meets deadlines.</li>
                                        <li>Passionate about web development and new technologies.</li>
                                    </ul>

                                    <h4>/* Experience */</h4>

                                    <h5>// Application Developer UnitedhHealth Group Gurgaon</h5>
                                    <span class="time">// Nov 2014 - PRESENT</span>
                                    <ul>
                                    <li>Supporting Front UI based on angular JS and front end Ajax Spring MVC calls.</li>
                                        <li> Developing and supporting for the development of spring and Hibernate related backend work.</li>
                                        <li> Worked on several web services being used in application for processing client request and processing them with MUEL ESB.</li>
                                        <li>Rapidly prototyped designs for the design process and user testing.</li>
                                        <li>Utilized AngularJS to build a component library for Ford.com Global Redesign.</li>
                                        <li>Met with Ford executives to display functionality of design experiments.</li>
                                        <li>Worked on a team of developers to coordinate and develop compoent library.</li>
                                        <li>Built resposive web applications to display potential design and interaction experiences.</li>
                                    </ul>

                                    <h5>// Owner, Gennext Training - Delhi India</h5>
                                    <span class="time">// MARCH 2012 - PRESENT</span>
                                    <ul>
                                        <li>Wrote, produced and recorded over 300 popular tutorial videos on various topics for Level Up Tuts (https://www.youtube.com/channel/UCS1NeZF0Or2E1RAV9hQJz3g) with over 1,550,00 views.</li>
                                        <li>Designed websites, interfaces, and layouts to fit clients’ desires including developing responsive layouts to enhance the experience on mobile devices.</li>
                                        <li>Consulted on large scale development projects.</li>
                                        <li>Provided dedicated training on coding practices and content management systems.</li>
                                        <li>Wrote, produced and recorded commercial video tutorial series for Packt Publishing.</li>
                                    </ul>

                                    <h5>// Java Application Developer, Amdocs DVCI Delhi</h5>
                                    <span class="time">// july 2012 - Nov 2014</span>
                                    <ul>
                                        <li>Supported enterprise application framework SOA based application running on web services</li>
                                        <li>Developed and supported Fusion and MQ based Queue framework for supporting clients request and for Bill Load in IBM DB2 servers.</li>
                                        <li>Worked with Business transaction processing in backend  Being Done with EJB-2.0.</li>
                                        <li>Worked on several web services being used in application for processing client request which are based on JAX-RPC/WS and being used with asynchronous and synchronous request through MQ and ATT n T Fusion queues.</li>
                                        <li>Worked with major release and took all responsibilities including communication with clients and provide them successful deployments.</li>
                                    </ul>

                                    <h5>// Application Developer, IBM Lab</h5>
                                    <span class="time">// MARCH 2010 - july 2012</span>
                                    <ul>
                                        <li>Worked on developing Different project based on J2EE frameworks and technologies.</li>
                                        <li>Worked on creating Java Web Application using JSF framework which can be used for any organization for biometric authentication/Card punch and different module related to employee attendance management </li>
                                        <li>Developed “Ecops” , “Indian-Wildlife “project for TGMC IBM challenge during 2010-12 based on J2EE, JSF, JPA, DB2 server.</li>
                                        <li>All application developed Using IBM Rational technologies with DB2 as DB serve</li>
                                       
                                    </ul>

                                </div>
                            </div>
                            <p class="res-download">
                                <a class="btn download" href="media/sharma.pdf">Download Resume PDF</a>
                            </p>
                        </main>
                      
                        </div>
