
        <header class="header">
            <div class="header-wrap">
                  <a class="homelink" href="#/home"><span class="logo">TS</span>
                    <h1 class="name">Tarun Sharma</h1>
                </a>
                 <nav class="main-nav">
                    <ul>
                     <li><a class="training" href="#/training">Trainings</a></li>
                     <li><a class="about" href="#/about">About</a></li>
                        <li><a class="projects" href="#/projects">Projects</a></li>
                        <li><a class="contact" href="#/contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </header>