<div class="project">
 <main id="appbody" class="main-content">

        <h2 class="page-title">Projects</h2>
        <p>I've worked on many types of projects both personal and professional. Here are some projects I've developed/created.</p>

        <ul class="project-list">
            <li>
                <h3 class="project-title"><a target="_blank" href="http://ec2-52-11-38-198.us-west-2.compute.amazonaws.com:5000">Allakarte.com UX</a></h3>
                <p>
                    Design Prototypes and Interactive  Design for the Allakarte.com , its has same kind of business what airbnb have
                    <br>Built With: Full Stack Angular, Node, Mongo deployed on AWS <
                </p>
            </li>
            <li>
                <h3 class="project-title"><a target="_blank" href="">Integrated Eligibility Portal US-Health Care</a></h3>
                <p>
                    Developing Integrated Eligibility project for SE Region USA for Health care support for US citizen,Its integrated application to determine the Eligibility of citizen  for different Health care  program running for state government
                     while working with <a target="_blank" href="">UnitedHealth Group</a><br>
                     Client :-   <a target="_blank" href="">US State Government</a><br>
                    Built With: Angular, Bootstrap ,Spring Hibernate.
                </p>
            </li>

            <li><br/>
                <h3 class="project-title"><a target="_blank" href="">Billing System BVA Project</a></h3>
                <p>
                    Developed and supported of CBS-Billing  Critical  ATT & T application for south East billing tool being used by more than 40,000 Customer care representative in South East Region USA while working with  <a target="_blank" href="">Amdocs India</a> <br> 
                    Client :-   <a target="_blank" href="">At & t</a><br>
                    Built With: Java Web Services, Java, J2EE 
                </p>
            </li>
<li>
                <h3 class="project-title"><a target="_blank" href="">Learning Portal</a></h3>
                <p>Built for: <a target="_blank" href="">Amdocs DVCI </a><br>Built With: Java J2EE with Spring Hibernate </p>
            </li>
            <li>
                <h3 class="project-title"><a target="_blank" href="https://www.youtube.com/channel/UCS1NeZF0Or2E1RAV9hQJz3g"> Training Youtube Channel</a></h3>
                <p>
                    200+ Web Dev Tutorials on: <a target="_blank" href="https://www.youtube.com/channel/UCS1NeZF0Or2E1RAV9hQJz3g">Youtube</a><br>Channel for Front end development and java Technologies
                </p>
            </li>
            <li>
                <h3 class="project-title"><a target="_blank" href="https://gennexttraining.herokuapp.com/#/">GenNext Training</a>
                </h3>
                <p>
                Online Training platform <a target="_blank" href="https://gennexttraining.herokuapp.com/#/">GenNext Training</a><br/>
                Gennext Training is Now growing in online learning for professional software developers, IT specialists, and creative technologists.

                Together, our goal is to democratize professional learning, making it more accessible to those around the world. As we grow, we will continue to seek those opportunities that will foster this cause and empower individuals and enterprises to truly embrace a culture of learning</p>
            </li>

               <li>
                <h3 class="project-title"><a target="_blank" href="https://codehs.herokuapp.com/#/home">CodeHS Full stack training portal</a></h3>
                <p>Built for: <a target="_blank" href="https://codehs.herokuapp.com/#/home">Learning portal</a><br>Built With: MEAN stack Node angular</p>
            </li>

            <li>
                <h3 class="project-title"><a target="_blank" href="">IBM Lab</a></h3>
                <p>Built for: <a target="_blank" href="">Academics App</a><br>Built With: Java J2EE with Enterprise IBM tools</p>
            </li>
            
           
        </ul>
    </main>
    </div>