<div class="training">
   <main id="appbody" class="main-content">
    <h2>@Me as a Trainer </h2>
    <div class="about-body">
        <p>
         My Trainings
     </p>
     <p>
         Please find My training which i have delievered on Node Angular react Spring
     </p>
     <ul class="project-list">

        <li>
            <h3 class="project-title"><a target="_blank" href="">React JS Training</a></h3>
            <p>
                React Training was formed to support the development and maintenance of the most popular open source libraries in the React community including ReactRouter and history.
                Learn to make your components uncommonly reusable, make your apps more performant, and uncover the power that comes from functional UI.

                @React js @ES6 @Redux @Flux @native is covered in training
                <a href="https://slides.com/reactredux" target="_blank">Training Link</a>
                <br> 
            </p>
        </li>
        <li>
            <h3 class="project-title"><a target="_blank" href="http://gennexttraining.herokuapp.com">Node js Training</a></h3>
            <p>Node.js is a powerful tool for controlling servers, building web applications, and creating event-driven programs. And it takes JavaScript—a language familiar to all web developers—out of the browser. With Node.js, you can build applications that run on your laptop or even the cloud
                I have covered lot of things in this training 30 days of course which includes Node with Express and MEAN Stak develoment .
                
                @Node js @sails js @monfodb @sequalize @Node with client angular
                <a href="https://slides.com/tarunsharma-1" target="_blank">Training Link</a>
                <br>
            </p>
        </li>
        <li>
            <h3 class="project-title"><a target="_blank" href="">Angular JS Training</a></h3>
            <p>This course is designed for the absolute beginner, meaning no prior knowledge of AngularJS is required, however you should already have a fundamental understanding of HTML, CSS and JavaScript.

                You will start by setting up the application and learning about the views, controllers, and built-in directions. From there, the course will teach you about filters, showing you tricks with filters and how to create custom filters. 
                
                @angular js @promises  @ui router @material design  @UI Bootstrap
                <a href="https://slides.com/tarunsharma-1" target="_blank">Training Link</a>
                <br>
            </p>
        </li>
        <li>
            <h3 class="project-title"><a target="_blank" href="">Angular  2.0 Training</a></h3>
            <p>This course designed for Angular 2.0 having all different things about angular 2.0
               inclusing module loaders transpilers ES6 with Typescript and all concepts of angular 2.0 , its 15 days course 12 hours training , it covers training using ES6 and typescript and web build system gulp .

               @angular2.0 js @gulp  @systemjs @es6   @module loaders @transpilers
               <a href="https://slides.com/tarunsharma-1" target="_blank">Training Link</a>
               <br>
           </p>
       </li>


   </ul>

</div>

<p class="res-download">
<a class="btn download" href="media/trainings.pdf">Download  Training Data </a>
</p>

</div>